#desa{
    font-size: 100px;
}

ul{
    list-style-type: none;   
    padding: 10px;
    margin: 0;
}


#navbar{
    background-color: #2b3029;
    
}

li{
  display: inline;  
}

li a{
   
    padding: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: brown;
 
}

#serviceBlock{
    display: inline-flex;
}

.services {
    width: 250px;
}